[user]
	email = mail@georgemcdonagh.dev
	signingkey = 3B3F1B7F6A8FDFCE
	name = George McDonagh
[core]
	editor = nvim
	pager = delta
	autocrlf = input
[include]
	path = ~/.dotfiles/themes.gitconfig
[interactive]
    diffFilter = delta --color-only
[delta]
	navigate = true
	features = arctic-fox
[merge]
    conflictStyle = zdiff3

[commit]
	gpgsign = true
[tag]
	gpgSign = true
