[user]
	email = gh@georgemcdonagh.dev
	name = geoorgeous
	signingkey = /home/george/.ssh/id_ed25519_github.pub
[core]
	editor = nvim
	pager = delta
	autocrlf = input
[include]
	path = ~/.dotfiles/themes.gitconfig
[interactive]
    diffFilter = delta --color-only
[delta]
	navigate = true
	features = arctic-fox
[merge]
    conflictStyle = zdiff3

[commit]
	gpgsign = true
[gpg]
	format = ssh
